@model EleccionesMVC.Candidato

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.plataforma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plataforma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_candidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_candidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partido_Politico.nombre_partido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partido_Politico.nombre_partido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_candidato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
